<h1>Listing messages</h1>

<%= link_to 'Tags List', controller: "tags" %><br>

<%= link_to 'Readers List', controller: "readers" %><br>


<table>
	<tr>
		<th>Reader Id</th>
		<th>Tag Id</th>
		<th>Activity</th>
	</tr>

<% @messages.each do |message| %>
	<tr>
		<td><%= message.reader_id %></td>
		<td><%= message.tag_id %></td>
		<td><%= message.activity %></td>
<% end %>
<% if @messages.size == 0 %>
	<em>No Messages Found</em>
<% end %>
</table>
