<h1>Listing tags</h1>

<%= link_to 'New tag', new_tag_path %><br>

<%= link_to 'Readers List', controller: "readers" %><br>

<%= link_to 'Messages List', controller: "messages" %>

<table>
	<tr>
		<th>Id</th>
		<th>Category</th>
		<th>Active</th>
	</tr>

<% @tags.each do |tag| %>
	<tr>
		<td><%= tag.id %></td>
		<td><%= tag.category %></td>
		<td><%= tag.active %></td>
		<% if tag.active == false %>
			<% @readers.each do |reader| %>
				<td><%= link_to "Enter #{reader.name}", enter_tag_path(reader.id, tag.id) %></td>
			<% end %>
		<% else %>
			<td><%= link_to "Leave #{@name[tag.id]}", leave_tag_path(@activated[tag.id], tag.id)%></td>
		<% end %>
<% end %>
<% if @tags.size == 0 %>
	<em>No Tags Found</em>
<% end %>
</table>
