<h1>Listing tags</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Category</th>
		<th>Active</th>
		<% @readers.each do |reader| %>
			<th><%= reader.name %></th>
		<% end %>
	</tr>

<% @tags.each do |tag| %>
	<tr>
		<td><%= tag.id %></td>
		<td><%= tag.category %></td>
		<td><%= tag.active %></td>
		<% @readers.each do |reader| %>
			<td><%= link_to "Enter row", enter_tag_path(reader.id, tag.id) %></td>
			<td><%= link_to "Leave row", leave_tag_path(reader.id, tag.id) %></td>
		<% end %>
<% end %>
<% if @tags.size == 0 %>
	<em>No Tags Found</em>
<% end %>
</table>
